@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gotta Catch Them All!</h1>
    <div>
       <img src=@Url.Content("~/content/pikachu.png")> 
    </div>
</div>
